{% extends "base.html" %}
{% block content %}


<div class='col-sm-6 col-sm-offset-3'>
    <h1>{{ title }}</h1>
    <form method="GET" action="">
        <input type="text" name="q" placeholder="Search posts" value="{{request.GET.q }}"/>
        <input type="submit" value="Search">

    </form>

{% for post in posts %}
    <div class="row">
        <div class="col-sm-12">
            <div class="thumbnail">
                <p>{{ post.title }}</p>
                <p>{{ post.content }}</p>
                <p>{{ post.updated }}</p>
            </div>
        </div>
        <hr/>
    </div>
{% empty %}
    <div class="row">
        <div class="col-sm-12">
            <p>Sorry, you do not have any posts.</p>
        </div>
        <hr/>
    </div>
{% endfor %}

<div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }} 
            </span>
    
            {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

</div>

{% endblock content %}